.pagination {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 5px;
    .page-item {
        display: inline-block;
        text-align: center;
        .page-link {
            display: inline-block;
            width: 35px;
            font-size: 16px;
            padding: 5px;
            color: #c0c0c0;
            text-decoration: none;
            &:hover {
                background: #e2e2e2;
                color: #fff;
                transition: background, color 0.3s;
            }
        }
    }
}