header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .holder-button {
    padding: 2rem 0;
    button {
      padding: 0.7rem 1rem;
      border: none;
      background: #a08b95;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      margin: 0 0.5rem;

      &:hover {
        background: #a05579;
        transition: background 0.3s;
      }
    }
  }

}