header {
  background-color: #303030;

  .holder-button {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    @media screen and (min-width: 480px) {
        flex-direction: row;
        justify-content: center;
    }
    button {
      border: none;
      text-transform: uppercase;
      background-color: transparent;
      color: white;
      cursor: pointer;
      margin: 0 3rem;
      margin-bottom: 1rem;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
      @media screen and (min-width: 480px) {
        margin: 0 2rem;
      }

      &:hover {
        background: #77006d;
        transition: background 0.3s;
        box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.6);
      }
      a {
        display: inline-block;
        padding: 0.7rem 1.8rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }

}