.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .hold-card {
        // align-items: flex-start;
        padding: 0 16px;
        margin-bottom: 16px;
        width: 50%;
        @media (min-width: 992px) {
            width: 33.33%;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding: 16px;
        border: 1px solid gray;
    }
}