.holder-cards .holder-albums {

    @media screen and (min-width: 480px) {
        width: 33.33%;
    }

    @media screen and (min-width: 992px) {
        width: 25%;
    }
}

.albums {
    p {
        font-style: italic;
        flex: 1 0 auto
    }

    span {
        font-weight: 700;
    }

    .btn-group {
        button {
            padding: 6px 15px;
            @media screen and (min-width: 768px) {
                margin-bottom: 16px;
            }
        }
    }
}